{% extends "base.html" %}
{% load i18n %}

{% block script %}
<link href="../css/jquery-ui-1.10.0.custom.css" rel="stylesheet">

<style>
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
 img {
height: 100px;
float: left;
}
</style>
<script>
$(function() {
  $( "#id_date" ).datepicker();
  $( "#id_date" ).datepicker( "option", "dateFormat", "dd.mm.yy" );
  document.getElementById('id_date').value = "{% if today.day < 10 %}0{{ today.day }}{% else %}{{ today.day }}{% endif %}.{% if today.month < 10 %}0{{ today.month }}{% else %}{{ today.month }}{% endif %}.{{ today.year }}"
  document.getElementById('id_date').onchange = function(){change()};
  document.getElementById('id_customer').onchange = function(){change()};
  document.getElementById('chooseddate_expand').value = document.getElementById('id_date').value;

  $( "#selectable" ).selectable({
    stop: function() {
      document.getElementById('id_timeselection').value = "";
      var result = document.getElementById('id_timeselection').value;
      $( ".ui-selected", this ).each(function() {
      	if(this.id != "-"){
      		var index = this.id;
      		document.getElementById('id_timeselection').value = document.getElementById('id_timeselection').value + ( "#" + ( index ) );
      	}
      });
    }
  });

  $("#findWorkItem").click(function(){
    button = '<span class="glyphicon glyphicon-time" style="font-size:20px;" alt="{% trans "Loading" %}"></span>'
    $("#modal-body").html(button);
    var projectId = document.getElementById("id_project").options[document.getElementById("id_project").selectedIndex].value;
    $.getJSON("../api_getWorkItems/?id_project=" + projectId ,function(result){
      $("#modal-body").html("");
      $.each(result, function(i, field){
        button = '<button type="button" class="btn btn-default" onclick="choose(' + "'" + i + ': ' + field + "'" + ');">' + i + ': ' + field + '</button><br>'
        $("#modal-body").prepend(button);
      });
    });
  });
});

function change() {
	document.getElementById('chooseddate').value = document.getElementById('id_date').value;
    document.getElementById('choosedcustomer').value = document.getElementById('id_customer').value;
	document.form_change.submit();
}

function choose(text) {
	document.getElementById('id_comment').value = text;
    $('#myModal').modal('hide');
}
</script>

{% endblock %}



{% block nav_left %}
                                <ul class="nav nav-sidebar">
                                    <li class="active"><a href="{% url "acquisition" %}">{% trans "Acquisition" %}</a></li>
                                    <li><a href="{% url "overview_day" %}">{% trans "Daily" %}</a></li>
                                    <li><a href="{% url "overview_week" %}">{% trans "Weekly" %}</a></li>
                                    <li><a href="{% url "overview_month" %}">{% trans "Monthly" %}</a></li>
                                    <li><a href="{% url "overview_year" %}">{% trans "Yearly" %}</a></li>
                                    <li><a href="{% url "personal_budget" %}">{% trans "Budget" %}</a></li>
                                    <li><a href="{% url "vacation" %}">{% trans "Vacation" %}</a></li>
                                    <li><a href="{% url "sick" %}">{% trans "Sick" %}</a></li>
                                    <li><a href="{% url "user_csv" %}">{% trans "CSV Import/Export" %}</a></li>
                                </ul>
{% endblock %}



{% block content %}
						<div id="images"></div>
                        <h1 class="page-header">{% trans "Acquisition" %}</h1>
                            <form action="{% url "acquisition_explicit" %}" method="post">{% csrf_token %}
                            {% for field in form %}
                                {% if field.id_for_label == 'id_customer' %}
                                    <div class="control-group" ><label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label><div class="controls">
                                    <select class="form-control" id="id_customer" name="customer">
                                    {% for customer in customers %}
                                    <option value="{{ customer.id }}" {% if customer == activcustomer %}selected{% endif %}>{{ customer }}</option>
									{% endfor %}
                                    </select></div></div>
                                {% elif field.id_for_label == 'id_project' %}
                                    <div class="control-group" ><label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label><div class="controls">
                                    <select class="form-control" id="id_project" name="project">
                                        {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project }}</option>
									    {% endfor %}
                                    </select></div></div>
                                {% elif field.id_for_label == 'id_comment' %}
                                    <div class="control-group"><label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label><div class="controls"><div class="input-group">
                                        <input type="text" class="form-control" id="id_comment" name="comment">
                                        <span class="input-group-btn"><button class="btn btn-default" id="findWorkItem" type="button" data-toggle="modal" data-target="#myModal">{% trans "Find WorkItem" %}</button></span>
                                    </div></div></div>
                                {% else %}
								    <div class="control-group"><label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label><div class="controls">{{ field }}</div></div>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">{{ error|escape }}</div>
                                {% endfor %}
					        {% endfor %}
                                <span class="glyphicon glyphicon-resize-vertical" style="font-size:20px;" alt="{% trans "More" %}" onclick="form_expand.submit();"></span>
                                <div class="btn-group" role="toolbar" id="selectable" name="selectable">
                                    {% for entry in entries %}
                                        {% if entry.active %}
                                    <div type="button" class="btn btn-default" id="{{ entry.hour }}:{{ entry.min }}" style="width:70px{% if entry.min == last %};float: none{% endif %}">{{ entry.hour }}:{% if entry.min < 10 %}0{{ entry.min }}{% else %}{{ entry.min }}{% endif %}</div>
                                        {% else %}
                                    <div type="button" class="btn btn-default" id="-" style="width:70px;color:#CCC{% if entry.min == last %};float:none{% endif %}">{{ entry.hour }}:{% if entry.min < 10 %}0{{ entry.min }}{% else %}{{ entry.min }}{% endif %}</div>
                                        {% endif %}
                                    {% if entry.min == last %}<br>{% endif %}
                                    {% endfor %}
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Save" %}</button>
                            </form>
							<form id="form_change" name="form_change" action="{% url "acquisition_explicit" %}" method="post">{% csrf_token %}
							    <input type="hidden" name="chooseddate" id="chooseddate" />
                                <input type="hidden" name="choosedcustomer" id="choosedcustomer" />
							</form>
                            <form name="form_expand" action="{% url "acquisition_explicit" %}" method="post">{% csrf_token %}
				   			<input type="hidden" name="expand" id="id_expand" value="1"/>
                                <input type="hidden" name="chooseddate_expand" id="chooseddate_expand"/>
							</form>
                            <p><a class="btn btn-default" href="{% url "acquisition_counter" %}" role="button">{% trans "Switch to Counter Aquisition" %} &raquo;</a></p>

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">{% trans "Find WorkItem" %}</h4>
                                  </div>
                                  <div class="modal-body" id="modal-body"></div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>


{% endblock %}