{% extends "base.html" %}
{% load i18n %}

{% block script %}

<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="../js/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="../js/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="../js/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="../js/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="../js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="../js/plugins/jqplot.barRenderer.min.js"></script>

<link rel="stylesheet" type="text/css" href="../css/jquery.jqplot.css" />
<script>
$(document).ready(function(){
  var line1 = [{% for day in days %}{{ day }},{% endfor %}];

  var plot1 = $.jqplot('chart1', [line1], {
    title: '{% trans "Distribution in Days for the Month" %} {{ date.month }}.{{ date.year }}',
    series:[{renderer:$.jqplot.BarRenderer}],
    axesDefaults: {
        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        tickOptions: {
          angle: -30,
          fontSize: '10pt'
        }
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer
      }
    }
  });
});
</script>

{% endblock %}

{% block nav_left %}
								<ul class="nav nav-sidebar">
                                    <li><a href="{% url "acquisition" %}">{% trans "Acquisition" %}</a></li>
                                    <li><a href="{% url "overview_day" %}">{% trans "Daily" %}</a></li>
                                    <li><a href="{% url "overview_week" %}">{% trans "Weekly" %}</a></li>
                                    <li class="active"><a href="{% url "overview_month" %}">{% trans "Monthly" %}</a></li>
                                    <li><a href="{% url "overview_year" %}">{% trans "Yearly" %}</a></li>
                                    <li><a href="{% url "personal_budget" %}">{% trans "Budget" %}</a></li>
                                    <li><a href="{% url "vacation" %}">{% trans "Vacation" %}</a></li>
                                    <li><a href="{% url "sick" %}">{% trans "Sick" %}</a></li>
                                    <li><a href="{% url "user_csv" %}">{% trans "CSV Import/Export" %}</a></li>
                                </ul>
{% endblock %}

{% block content %}
						<h1 class="page-header">{% trans "Monthly acquired time" %}</h1>
                            <span class="glyphicon glyphicon-chevron-left" style="font-size:20px;" alt="{% trans "Before" %}" onclick="form_left.submit();"></span>
							<div id="chart1" style="height:500px; width:90%;float:left"></div>
                            <span class="glyphicon glyphicon-chevron-right" style="font-size:20px;" alt="{% trans "After" %}" onclick="form_right.submit();"></span>
							<form name="form_left" action="{% url "overview_month" %}" method="post">{% csrf_token %}
								<input type="hidden" name="date" id="id_date" value="{{ date_left.month }}.{{ date_left.year }}"/>
							</form>
							<form name="form_right" action="{% url "overview_month" %}" method="post">{% csrf_token %}
								<input type="hidden" name="date" id="id_date" value="{{ date_right.month }}.{{ date_right.year }}"/>
							</form>
{% endblock %}